@if(readyToRender){
<div class="card">
  <app-tabs-table />
  <app-table-filters />
  <p-table [value]="value" [loading]="loading" [paginator]="true" [rows]="rows" [totalRecords]="totalRecords || 0"
    [first]="currentPage * rows" [tableStyle]="{ 'min-width': '100%' }" [showCurrentPageReport]="true"
    currentPageReportTemplate="">
    <ng-template pTemplate="header">
      <tr>
        @for(col of columns; track $index){
        <th>{{ col.header }}</th>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
      <tr>
        @for (col of columns; track $index) {
        <td>
          @if(isCheckboxColumn(col.field)) {
          <div class="flex">
            <app-checkbox (checkedChange)="onCheckboxChange($event, rowData)" [type]="col.field"
              [label]="getCheckboxLabel(col.field)" [checked]="rowData[col.field]" />
          </div>
          } @else if(isStateColumn(col.field)){
          <app-tag [type]="getTypeTag(rowData[col.field])" [label]="rowData[col.field]"></app-tag>
          } @else if(isDetalle(col.field)){
            <button pButton  class="px-3 py-1 mt-3 p-button-secondary text-sm" (click)="abrirDetalle()">ver detalle</button>
          }@else {
          {{ rowData[col.field] }}
          }
        </td>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="columns.length">
          <app-empty-message />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
}