
.button-box{
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 400;
  user-select: none;
  border-width: 1.5px;
  border-style: solid;
}

.rechazar-button {
  border-color: var(--red-bda-dark);
  color: var(--red-bda-dark);
  background-color: transparent;
  --p-checkbox-checked-hover-background:var(--white);
  --p-checkbox-icon-checked-hover-color:var(--red-bda-dark);
  --p-checkbox-hover-border-color:var(--red-bda-dark);
  --p-checkbox-checked-background:var(--white);
  --p-checkbox-icon-checked-color: var(--red-bda-dark);
  --p-checkbox-checked-hover-border-color:var(--red-bda-dark);

  &.checked {
    background-color: var(--red-bda-dark);
    color: var(--white);
  }
}

.aprobar-button {
  border-color: var(--green-v1-dark);
  color: var(--green-v1-dark);
  background-color: transparent;
  --p-checkbox-checked-hover-background:var(--white);
  --p-checkbox-icon-checked-hover-color:var(--green-v1-dark);
  --p-checkbox-hover-border-color:var(--green-v1-dark);
  --p-checkbox-checked-background:var(--white);
  --p-checkbox-icon-checked-color: var(--green-v1-dark);
  --p-checkbox-checked-hover-border-color:var(--green-v1-dark);

  &.checked {
    background-color: var(--green-v1-dark);
    color: var(--white);
  }
}

.rechazar-label {
  margin-left: 0.5rem;
}

.checkbox-style {
  margin: 0;
  pointer-events: none;
}


:host ::ng-deep .aprobar-button .checkbox-style  .p-checkbox-box {
  border: 1.5px solid var(--green-v1-dark);
  transition: all 0.2s ease;
}
:host ::ng-deep .rechazar-button .checkbox-style  .p-checkbox-box {
  border: 1.5px solid var(--red-bda-dark);
  transition: all 0.2s ease;
}
