@if(isError) {
<div class="alert bg-red-bda text-red-bda-dark p-2 border-round-lg" role="alert">
  Ha ocurrido un error al cargar el OTP. Presione "Volver a cargar" ó inténtelo de nuevo más tarde.
</div>

<div class="flex justify-content-center align-items-center mt-4">
  <p-button label="Volver a cargar" type="button" (click)="getRequestOtp()" />
</div>
} @else if (isLoading) {
<div class="flex justify-content-center align-items-center mt-8">
  <div class="spinner-border" role="status">
    <app-loader-text [text]="'Cargando OTP...'" />
  </div>
</div>

} @else if(!isLoading && !isError) {
<div>
  <div class="mb-2">
    <label for="duinit">
      <strong>{{ label }}</strong>
    </label>
  </div>
  <input type="text" pInputText [(ngModel)]="value" (input)="onInputChange($event)" maxlength="6" minlength="6"
    [fluid]="true" placeholder="Ingrese OTP" />
  <div class="mt-2 text-sm mt-4">
    Podrá solicitar un nuevo código en: <strong>{{ formattedCountdown }}</strong>
  </div>
  <div class="mt-2 text-sm mt-4">
    <p>¿No has recibido el código?</p>
    <p-button label="Solicitar nuevo código" severity="primary" type="button" (click)="onResendOtp()"
      [disabled]="countdown > 0"></p-button>
  </div>
</div>

}