<p-dialog [(visible)]="visible" [modal]="true" [closable]="false" [draggable]="false">
  <div class="text-center p-4">
    <i [class]="icono" class="icon"></i>
    <h2 class="mt-3 font-bold">{{ titulo }}</h2>

    <div class="text-left">
      <label class="mt-2 text-sm text-left text-gray-700 font-bold" for="textArea">{{label}}</label>
      <textarea id="textArea" rows="3" cols="50" pTextarea [autoResize]="false"></textarea>
    </div>
    <div class="flex justify-content-start align-content-center gap-4 mt-4">
      <button pButton [rounded]="true" class="mt-4 p-button-danger" label="Enviar" (click)="aceptar()"
        class="padding-button"></button>
      <button pButton [rounded]="true" class="mt-4 " label="Omitir" (click)="omitir()"
        class="padding-button omitir"></button>
    </div>
  </div>
</p-dialog>