<p-dialog [(visible)]="visible" [modal]="true" [closable]="false" [draggable]="false">
  <div class="text-center p-4">
    <i [class]="icono" [ngStyle]="{'font-size': '4rem', 'color': iconoColor}"></i>
    <h2 class="mt-3 font-bold">{{ titulo }}</h2>
    @if(subtitulo){
    <p class="mt-2 text-lg text-gray-700" [innerHTML]="subtitulo"></p>
    }
    <div class="flex justify-content-center align-content-center gap-4 mt-4"
      [ngClass]="{ 'flex-row-reverse': reverse }">
      <button pButton [rounded]="true" class="mt-4 p-button-danger padding-button" [label]="buttonText"
        (click)="aceptar()"></button>
      @if(buttonCancel){
      <button pButton [rounded]="true" class="mt-4 p-button-danger padding-button omitir" [label]="buttonCancelText"
        (click)="cancelar()"></button>
      }
    </div>
  </div>
</p-dialog>