@use './config' as *;
@use './funcs' as *;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: system-ui;
}

app-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  @include background('gray-bda');
  padding-bottom: 6rem;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;

  &--no-padding {
    padding: 0;
  }
}
